<!--
When this is rendered, an actual article (i.e. an instance of
the Article model) is passed as the parameter 'article'
Rails knows which view we were in when rendering this partial,
so it knows how to construct the appropriate form tag based on
whether we're in an edit view or a new view. All we have to do
is give form_for the actual article. Rails can work out the rest
based on naming conventions.
-->
<%= form_for(article) do |f| %>
    <% if article.errors.any? %>
    <ul class="errors">
        <% for error in article.errors.full_messages %>
            <li><%= error %></li>
        <% end %>
    </ul>
    <% end %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :content %><br>
        <%= f.text_area :content %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
